@import-normalize;
/* bring in normalize.css styles */

* {
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
	background-color: #d0b8d9;
}

#root {
	font-size: 28px;
}

h1,
header {
	background: linear-gradient(90deg, #e55d87, #5fc3e4);
}


* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}